.row
  .col-md-4
    .page-header.text-center
      %h1 To do
    =render @to_do
  .col-md-4
    .page-header.text-center
      %h1 Doing
    =render @doing
  .col-md-4
    .page-header.text-center
      %h1 Done
    =render @done