= link_to 'Create task', new_task_path
%br
.row
  .col-md-4
    %h3.text-center To do
    =render @to_do
  .col-md-4
    %h3.text-center Doing
    =render @doing
  .col-md-4
    %h3.text-center Done
    =render @done
%br
= link_to 'Create task', new_task_path