.jumbotron.frontpage
  %h1
    %i.fa.fa-circle-o-notch 
    Stukdo
  %p Simple Ruby on Rails Application for managing your ToDo list.
  %br
  %br
  =link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button"