@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise";
@import "pages";

body {
  padding-top: 52px;
}

.alert {
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  opacity: 0.7;

  .glyphicon {
    font-size: 2em;
    vertical-align: middle;
  }
  .message {
    margin-left: 10px;
    vertical-align: middle;
  }
}